.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/.jsdtscope
.project
.settings/org.eclipse.wst.jsdt.ui.superType.container
.buildpath
/collections/editor/includes/config/occurVarDefault.php
/collections/editor/includes/config/occurVarGenObsDefault.php
/config/dbconnection.php
/config/symbini.php
/css/jquery-ui.css
/css/main.css
/css/speciesprofile.css
/css/w3-theme-green.css
/css/w3-theme-teal.css
/taxa/profile-test.html
/taxonomyimport.csv
/taxonomyimport-2.csv
/uploadtaxaimport.csv
/taxa/includes/config/taxaProfileElementsCustom_template.php
/taxa/includes/config/taxaProfileTemplateCustom_template.php
/leftmenu.php
/robots.txt
.settings/org.eclipse.php.core.prefs
/data
config/schema-1.0/.DS_Store
config/.DS_Store
.DS_Store
